.header_container {
  height: 75vh;
  width: 100%;
  display: flex;
}

.header_banner_container {
  height: 100%;
  min-width: 75%;
}

.header_list_banner_container {
  height: 100%;
  width: 100%;
  flex-grow: 25%;
}

/* Banner */



/* List Banner */


/* Card Styling */

